<h1>Name: <%= @employee.name %> </h1>



<img src= <%= @employee.img_url %> height="250" >

<h2>Title: <%= @employee.title %> </h2>
<h2>Alias: <%= @employee.alias %> </h2>
<h2>Office: <%= @employee.office %> </h2>

<%= button_to "This should be edit", "/employees/#{@employee.id}/edit", method: :get%>